name: Build

on:
  push:
    branches:
      - main
    paths:
      - "**.py"
      - "pyproject.toml"

jobs:
  check:
    if: github.ref_type == 'branch'
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.2

      - name: Set up Python 3.10
        uses: actions/setup-python@v4.8.0
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: setup.py

      - name: Build and check wheel
        run: |
          pip install build twine
          python -m build
          twine check dist/*
